*{
box-sizing: border-box;}
body {
  font-family: 'Cantarell', sans-serif;
  background: linear-gradient(90deg, black, indigo);
  color:Cyan;
}
h1{
  text-align: center;
  font-size: 60px;
font-family: 'Fredoka One', cursive;
margin: 0;
line-height: 1;
}
.main-nav{
  background-color:black;
  list-style: none;

}
.main-nav li {
display:inline-block;
font-size: 24px;
margin:0 20px 0 40px
}
.main-nav a {
  color:white;
  text-decoration:none;
  padding: 10px;
  display:block;
  background-color: gray;
}
.main-nav a:hover {
  background-color:white;
  color:black;
}
main > aside, main > section {
  float:left;
}
main > aside {
  width:20%;
  background-color:white;
}
main > section {
  padding:10px;
  width: 58%;
  background-color:blue;
}
h3 {color:black;}
h4 {font-size:30px;}
article img {
  float: right;
  width:500px;
  margin-left:20px;
}
article a, article a:visited{
  color:yellow;
}
article a:hover {
  color:lawngreen;
}
.products {
  width: 48%;
  float:left;
  margin-right:10px;
}
.products img {
  width: 100%;
}
